:root {
  --main-bg: linear-gradient(#52ba5d, #fff);
  --footer: linear-gradient(#fff, #52ba5d);
  --content: #fff;
  --complement: #52ba5d;
  --highlight: #fff200;
  --standard: #000;
}

/*main content*/
#main-content {
  padding-top: 2px;
  height: auto;
}
.columns {
  height: 100%;
}
.one {
  background-color: var(--complement);
  border-radius: 0 5px 5px 0;
}

.one ol {
  padding-left: 0;
}
.one li {
  list-style-type: none;
  border-bottom: 1px solid var(--highlight);
}
.one a {
  text-decoration: none;
  color: var(--highlight);
  display: block;
  padding: 5px;
}
.two {
  padding-left: 15px;
  margin: auto;
}

/* typography */

h1 {
  color: var(--complement);
  padding-left: 5px;
}
h2 {
  background-color: var(--complement);
  color: var(--highlight);
  padding: 5px;
}
h4 {
  color: var(--highlight);
  padding-left: 8px;
}
p {
  background-color: transparent;
  color: var(--standard);
  padding: 5px;
}

.hidden-aside {
  display: none;
}

/* sizing */
.columns {
  display: flex;
  height: 100%;
}
.one {
  flex: 1;
}
.one {
  background-image: var(--complement);
  margin: none;
  margin-right: 5px;
}
.two {
  flex: 4;
}

@media only screen and (min-width: 900px) {
  .hidden-aside {
      display: block;
  }
}