:root {
  --main-bg: linear-gradient(#52ba5d, #fff);
  --footer: linear-gradient(#fff, #52ba5d);
  --content: #fff;
  --complement: #52ba5d;
  --highlight: #fff200;
  --standard: #000;
}

/*main content*/
/* typography */

h1 {
  color: var(--complement);
  text-align: center;
}
p {
  background-color: transparent;
  color: var(--standard);
  padding: 5px;
}


@media only screen and (min-width: 900px) {
  #main-content {
      display: flex;
  }
}